<!--Zoho Campaigns Web-Optin Form Starts Here-->

<div data-type="signupform" class="email-form">
    <form method="POST" action="https://maillist-manage.eu/weboptin.zc" target="_zcSignup">
        <input class="field" type="text" placeholder="Email" changeitem="SIGNUP_FORM_FIELD" name="CONTACT_EMAIL">
        <input class="submit" type="submit" name="SIGNUP_SUBMIT_BUTTON" value="Sign Up">
        <input type="hidden" value="">
        <input type="hidden" name="submitType" value="optinCustomView">
        <input type="hidden" name="emailReportId" value="">
        <input type="hidden" name="formType" value="QuickForm">
        <input type="hidden" name="zx" value="{{ site.email_form.zx }}">
        <input type="hidden" name="zcvers" value="2.0">
        <input type="hidden" name="oldListIds" value="">
        <input type="hidden" name="mode" value="OptinCreateView">
        <input type="hidden" name="zcld" value="{{ site.email_form.zcld }}">
        <input type="hidden" name="zctd" value="{{ site.email_form.zctd }}">
        <input type="hidden" value="">
        <input type="hidden" value="vopm.maillist-manage.eu">
        <input type="hidden" value="0">
        <input type="hidden" value="0">
        <input type="hidden" name="zc_trackCode" value="ZCFORMVIEW">
        <input type="hidden" name="zc_formIx"
               value="{{ site.email_form.zc_formIx }}">
        <input type="hidden" value="URL_ACTION">
        <input type="hidden" name="scriptless" value="yes">
    </form>
</div>
<input type="hidden" value="QuickForm_Horizontal">
<div oncontextmenu="return false"></div>

<!--Zoho Campaigns Web-Optin Form Ends Here-->
