// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/temp/custom-variables.scss` to override variable defaults)

.site-header {
  border-top: none;
}

.site-title:hover {
  text-decoration: none;
}

.homepage-icon {
  width: 150px;
  aspect-ratio: 1;
  float: right;
  margin-left: auto;
  margin-right: 0;
  padding-left: 1em;
  padding-bottom: 1em;
}

.menubar-icon {
  aspect-ratio: 1;
  height: 1.625rem;
  line-height: 0;
}

.docs-page {
  display: grid;
  @media (min-width: $on-palm) {
    grid-template-columns: 3fr 1fr;
  }
  grid-template-areas:
      "post-header post-header"
      "page-content sidebar"
      "documentation sidebar";
  @include media-query($on-palm) {
    grid-template-areas:
      "post-header"
      "page-content"
      "sidebar"
      "documentation";
  }

  .post-header {
    grid-area: post-header;
  }

  .page-content {
    padding: revert;
    grid-area: page-content;
  }

  .documentation {
    grid-area: documentation;
    width: 100%;

    object.inline {
      height: 1em;
    }

    img:not(.shortcuts-action),
    object:not(.inline) {
      max-width: 100%;
      min-width: 50%;
      max-height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .shortcuts-action {
      height: 0.8em;
      padding-bottom: 0.1em;
    }

    .docs-tip {
      display: grid;
      font-size: 0.8em;
      grid-template-areas:
      "title content";
      grid-template-columns: auto 1fr;
      padding-left: 2em;

      .tip-title {
        grid-area: title;
        padding-right: 0.5em;
      }

      .tip-content {
        grid-area: content;
      }
    }
  }

  .sidenav {
    grid-area: sidebar;
    @media (min-width: $on-palm) {
      border-left: solid 1px $text-color;
      margin-left: 1em;
    }

    ul {
      @media (min-width: $on-palm) {
        margin-left: 1em;
      }
      @include media-query($on-palm) {
        padding: 1em;
        border: solid 1px $text-color;
        margin-left: revert;
      }
      list-style: none;

      li:not(:last-of-type) {
        padding-bottom: 0.5em;
      }
    }
  }
}

.legal {
  display: grid;
  grid-template-areas: "icon text";
  grid-template-columns: auto 1fr;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;

  .icon {
    grid-area: icon;

    .snail-icon {
      height: 2em;
      padding-right: 1em;
    }
  }

  .text {
    grid-area: text;
    font-size: 0.6em;
    color: $brand-color;
  }
}

.email-form {
  padding-bottom: 2em;

  textarea,
  select,
  input {
    border: 1px solid $text-color;
    border-radius: 5px;
    background-color: $background-color;
    color: $text-color;
    padding: 0.5em;
    max-width: 100%;
    @media (min-width: $on-palm) {
      width: 50%;
    }
    @media (max-width: $on-palm) {
      width: inherit;
      &:not(:last-of-type) {
        margin-bottom: 0.75em;
      }
    }
  }

  input[type="submit"] {
    @media (min-width: $on-palm) {
      max-width: 20%;
      width: auto;
    }
  }

  form {
    @media (max-width: $on-palm) {
      display: grid;
    }
    @media (min-width: $on-palm) {
      display: flex;

      .field {
        margin-right: 0.5em;
        width: 22em;
      }
    }
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
  }
}

.section {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  padding-bottom: 1em;

  .section-image {
    img,
    object {
      max-height: 250px;
    }
  }

  &-left {
    .section-image {
      grid-column: 1;
    }

    .section-text {
      grid-column: 2;
    }
  }

  &-right {
    .section-text {
      grid-column: 1;
    }

    .section-image {
      grid-column: 2;
    }
  }
}