---
layout: default
---
<article class="docs-page">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="page-content">
        {{ content }}
    </div>

    {% assign contents_list = "" | split: ',' %}
    {% assign documentation = "" | split: ',' %}

    {% assign docs_collection = site.documentation | where: "published", true | sort: "title" %}
    {% for doc in docs_collection %}

    {% assign anchor_link = doc.title | slugify %}
    {% capture toc_link %}
    <li><a href="#{{ anchor_link }}">{{ doc.title }}</a></li>
    {% endcapture %}
    {% assign contents_list = contents_list | push: toc_link %}

    {% capture doc_section %}
    <h2><a name="{{ anchor_link }}" href="#{{ anchor_link }}">§</a>&nbsp{{ doc.title }}</h2>
    <p>{{ doc.content | markdownify }}</p>
    {% endcapture %}
    {% assign documentation = documentation | push: doc_section %}

    {% endfor %}
    <div class="sidenav">
        <ul>
            {{ contents_list | join: "\n" }}
        </ul>
    </div>

    <div class="documentation">
    {{ documentation | join: "\n" }}
    </div>
</article>
