---
layout: default
---
<article class="post">

  <header class="post-header">
    <img class="homepage-icon" src="/assets/icons/FocusCuts-Rounded.png" />
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% assign posts = site.posts %}
  {%- if posts.size > 0 -%}
  <h2 class="post-list-heading">Recent Updates</h2>
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <dt>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </dt>
      <dd class="post-meta">{{ post.date | date: date_format }}</dd>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif %}

</article>
