---
layout: default
---
<article class="docs-page">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="page-content">
        {{ content }}
    </div>

    {% assign contents_list = "" | split: ',' %}
    {% assign shortcuts = "" | split: ',' %}

    {% assign sc_collection = site.shortcuts_actions | where: "published", true | sort: "title" %}
    {% for doc in sc_collection %}

    {% assign anchor_link = doc.title | slugify %}
    {% assign anchor = "<img src='/assets/shortcuts-app-icon.png' alt='Shortcuts App Icon' class='shortcuts-action'>" %}
    {% capture toc_link %}
    <li><a href="#{{ anchor_link }}">{{ doc.title }}</a></li>
    {% endcapture %}
    {% assign contents_list = contents_list | push: toc_link %}

    {% capture sc_section %}
    {% include doc_section.html %}
    {% endcapture %}
    {% assign shortcuts = shortcuts | push: sc_section %}

    {% endfor %}
    <div class="sidenav">
        <ul>
            {{ contents_list | join: "" }}
        </ul>
    </div>

    <div class="documentation">
    {{ shortcuts | join: "" }}
    </div>
</article>
